# Checkpoints folder
/.ipynb_checkpoints

# Dask folder
/dask-worker-space

# Specific files and folders
PySpark - London Smart Energy.ipynb
/data
/PostgreSQL
/SQL

# All duplicate files
*duplicates*

# Power BI
*Power BI*
*.pbix