# Checkpoints folder
/.ipynb_checkpoints

# Dask folder
/dask-worker-space

# Specific files
PySpark - London Smart Energy.ipynb
data/CC_LCL-FullData.csv
data/LCL-FullData.zip
data/daily-summary-data.gz